/.deps/
/backups/
/build/
/cache/
/local-overrides/
/logs/
/output/
/references/
/refs/
/src/
/staging/
/third_party/
/mkosi-documentation.txt
/BUILD-REPORT.md
/SHA256SUMS
/image-config/
/kernel/
/mkosi.conf
/mkosi.extra/
/repart.d/

/mkosi.extra/boot/efi/
/mkosi.extra/opt/nabu/firmware/

*.download
*.part
*.pkg.tar.*
*.raw
*.img
*.fd

/.pre-push
